/*
F9F3DF
FDFCE5
D7E9F7
F4D19B
*/

body{
  background-color: #F9F3DF;
}

h1{
  color: brown;
}

p{
  color: black;
}

.dice{
  margin: 10px;
}

.title{
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
