/*
F9F3DF
FDFCE5
D7E9F7
F4D19B
*/

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Carter One', cursive;
font-family: 'Luckiest Guy', cursive;
*/

body{
  background-color: #F9F3DF;
}

h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 4em;
  color: brown;
}

h2, h3{
  font-family: 'Carter One', cursive;
}

p{
  font-family: 'Balsamiq Sans', cursive;
  color: black;
}

.dice{
  margin: 10px;
}

.title{
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #F4D19B;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.winner{
  font-size: 2.5em;
}

#player2-score-animation, #player1-score-animation{
  font-family: 'Carter One', cursive;
  position: relative;
  font-size: 4em;
  color: red;
}
